<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue中的列表渲染</title>
    <script src="./vue.js"></script>
</head>

<body>
    <div id="app">
        <template v-for="(item,index) of list">
            <div> {{item.text}} ---- {{item.id}} </div>
            <span> {{item.text}} ---- {{item.id}} </span>
        </template>
        <template>
        <div v-for="(item,key,index) of userInfo">
            {{item}} ---- {{key}} ---- {{index}}
        </div>
    </template>
    </div>
    <script>
        // 改变数组方法1:
        // push pop shift unshift splice sort reverse
        // 直接操作下标的方式是不行的，数据不会被改变
        // 改变数组方法2:
        // 改变数组的引用，vm.list 为一个新的数组
        var vm = new Vue({
            el: '#app',
            data: {
                list: [
                    { id: "1001", text: "hello" },
                    { id: "1002", text: "jerry" },
                    { id: "1003", text: "nice" },
                    { id: "1004", text: "to" },
                    { id: "1005", text: "meet" },
                    { id: "1006", text: "you" }
                ],
                userInfo:{
                    name:'Jerry',
                    age:31,
                    gender:'male',
                    salary:'secret'
                }
            },
            methods: {},
        })
    </script>
</body>

</html>