<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>动态组件和 v-once</title>
  <script src="./vue.js"></script>
</head>

<body>
  <div id="root" v-once>
    <!-- <component :is="type"></component> -->
  </div>
  <script>
    Vue.component('child-one', {
      template: `<div>child-one</div>`
    })
    Vue.component('child-two', {
      template: `<div>child-two</div>`
    })
    var vm = new Vue({
      data: {
        type: 'child-one'
      },
      template:`
      <div v-once>
          <child-one v-if="type==='child-one'" />
          <child-two v-if="type==='child-two'" />
          <button @click="handleBtnClick">change</button>
      </div>
      `,
      el: '#root',
      methods: {
        handleBtnClick() {
          this.type = this.type === 'child-one' ? "child-two" : "child-one"
        }
      },
    })
  </script>
</body>

</html>